<div id="information">
  <div class="field">
    <h1><%= @static_pages.title() %></h1>
    <h2>Source Code Comprehension Experiment</h2>
    <p>In this experiment you will be asked to complete a series of program comprehension
       tasks related to software maintenance. There are five system examples for the experiment
       and another two to be used for training purposes. You will be asked to inspect the source
       code for each system in order to complete the comprehension tasks.
    </p>
    <p>
      The tasks are given to you together with the source code in the same page. Each task
      encompasses at most six small questions and you have to answer them by selecting the options
      given. You have to read the code to answer the questions. You can read the code by clicking
      on the file names presented at left and enter your answer by clicking the tab named
      "Question|Answer". Once you have finished each task you have to press the button "Submit answer"
      and confirm the finalization of the task. You cannot repeat a task during the experiment,
      therefore when you finish a task you go to the next one or finish the experiment.
    </p>

    <p>
      For each system there are three tasks with true/false questions and one task with an ordering
      question. All questions have a "don't know" option to avoid forcing people to answer when
      the answer remains unknown. We want to make clear that we are not grading people, we are measuring
      how comprehensible is the source code and a "don't know" answer gives us as valuable information
      as any other answer.
    </p>

    <p>
      The entire experiment is estimated to be complete between 50 minutes and 1 and a half hour. It is not
      required to finish the experiment all at once, you can resume the experiment at the same point you
      left any time. Even though we have no time restriction, we value more correct answers given in a smaller
      span of time.
    </p>

    <p>
      On the bottom of the page there is a small menu where you can access to your account
      information given for the experiment and log-out of the site.
    </p>

    <p class="buttons">
      <%= link_to "Start the experiment ",
                  {:controller => "task_activities", :action => "system_description",
                  :system => @system_randomly_selected }, {class: "button"}
      %>
    </p>
  </div>
</div>
