<div id="information">
  <div class="field">
    <h1><%= @static_pages.title() %></h1>
    <h2>Source Code Comprehension Experiment</h2>
    <p>In this experiment you will be asked to complete a serie of program comprehension
       tasks related to software maintenance. There are five system examples for the
       experiment and another two to be used for training purposes. You will be asked to
       inspect the source code for each one in order to answer comprehension questions.
    </p>
    <p>
      The questions or tasks are given to you together with the source code in the same
      page. Each answer should be entered in the tab named "Answer". You have to read the
      code to answer the questions. Once you finish each task you have to press the button
      'Submit answer' and confirm the finalization of the task. You cannot repeat a task
      during the experiment, therefore when you finish a task you go to the next one or
      finish the experiment.
    </p>

    <p>
      On the bottom of the page there is a small menu where you can access your account
      information given for the experiment and there is also a link for you to log-off
      of the site.
    </p>

    <p class="buttons">
      <%= link_to 'Download tasks answer sheet', download_tasks_url %>
    </p>

    <p class="buttons">
      <%= link_to "Start the experiment ",
                  {:controller => "task_activities", :action => "system_description",
                  :system => @system_randomly_selected }, {class: "button"}
      %>
    </p>
  </div>
</div>
