<div id="information">
  <div class="field">
    <h1><%= @static_pages.title() %></h1>
    <h2>Source Code Comprehension Experiment</h2>
    <p>In this ecxperiment you will be ...</p>

    <div class="input">
      <p>Add you identification code and press complete task button:</p>
      <input type="text" name="identicationcode" id="identificationcode">
    </div>

    <p class="buttons">
      <a href="#go" id="completetasks" class="button">Complete tasks</a>
    </p>
  </div>
</div>
