<div id="information">
<div class="field">

<h1>Editing pre-test answer</h1>

<%= render 'form' %>

<%= link_to 'Show', @pre_test_answer %> |
<%= link_to 'Back', pre_test_answers_path %>

</div>
</div>
