<div id="information">
  <div class="field">

    <h1>Program Comprehension</h1>

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :id => "loginform" }) do |f| %>
      
      <div class="input">
        <%= f.email_field :email, autofocus: true, :placeholder => "email code given" %><br>
        <%= f.password_field :password, autocomplete: "off", :placeholder => "password given" %>
      </div>
      <p class="buttons">
        <%= link_to 'submit', "", :onclick => "$('#loginform').submit()", :class => "button" %>
      </p>
    <% end %>

  </div>
</div>