<div id="information">
<div class="field">

<h1>Editing permanence time</h1>

<%= render 'form' %>

<%= link_to 'Show', @permanence_time %> |
<%= link_to 'Back', permanence_times_path %>

</div>
</div>
